@import url('https://fonts.googleapis.com/css2?family=Nabla&family=Tourney:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";


.tourney-unique {
    font-family: "Tourney", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.nabla-unique {
    font-family: "Nabla", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "EDPT" 100,
        "EHLT" 12;
}

/* WebKit (Chrome, Edge, Safari) */
nav ul::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

nav ul:hover::-webkit-scrollbar {
    opacity: 1;
}

nav ul::-webkit-scrollbar-track {
    background: var(--color-dark-grey);
}

nav ul::-webkit-scrollbar-thumb {
    background-color: var(--color-imperial-gold);
    border-radius: 4px;
    border: 2px solid var(--color-dark-grey);
}

/* Firefox */
nav ul {
    scrollbar-width: none;
}

nav ul:hover {
    scrollbar-width: thin;
    scrollbar-color: var(--color-imperial-gold) var(--color-dark-grey);
}


:root {
    background-color: #fefefd;
}

@theme {

    --color-hunyadi-yellow: #F8BF62;
    --color-bronze: #FEFEFD;
    --color-xanthous: #F6B134;
    --color-smoky-black: #080702;
    --color-columbia-blue: #ABCEE2;
}
/* In your global CSS file, e.g., src/App.css */
.carousel-image-caption-container {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
